#comics {
    text-align: center;

    #main-top {
        background-color: $grey;
        min-height: 150px;


        .series-title {
            position: absolute;
            bottom: 98%;
            left: 0;
            color: white;
            padding: 5px 20px;
            background-color: $blue;
            display: inline-block;

            h3 {
                margin: 0;
            }
        }

        .series-container {
            padding-top: 50px;
            padding-bottom: 20px;
            display: flex;
            flex-wrap: wrap;



        }

        .load-more-button {
            margin: 0 auto;
            text-align: center;
            padding: 20px;
        }

        .button {
            padding: 10px 50px;
            background-color: $blue;
            font-weight: bold;
            color: white;
            border: none;
            border-radius: 10px;
            cursor: pointer;
        }

        .series-col {
            text-transform: uppercase;
            color: white;
            padding: 1rem;
            flex-basis: calc(100% / 6);

            #editor-button {
                display: none;
            }

            &:hover #editor-button {
                display: flex;
                justify-content: space-around;
            }

            a {
                color: white;
            }

            figure {
                height: 280px;
                overflow: hidden;
                margin: 0;

                img {
                    height: auto;
                    width: 180px;
                }
            }


        }

        .container {
            height: 100%;
            position: relative;
        }
    }
}