#comics-detail {

    margin-bottom: 50px;

    .button {
        background-color: #55BA59;
        padding: 10px 20px;
    }

    .thumb {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        height: 50px;
        background-color: $blue;
        margin-bottom: 50px;

        img {
            position: absolute;
            bottom: 20px;
            left: 250px;
            height: 250px;

        }
    }

    .row {



        .col-content {


            h2 {
                margin: 20px 0;

            }

            .price-box {
                display: flex;
                justify-content: space-between;
                padding: 5px;
                background-color: #55BA59;
                border: 1px solid black;
                color: #BAF980;


                .price {
                    flex-basis: 80%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-right: 1px solid black;
                    padding: 10px 20px;

                    .comic-price {
                        color: white;
                    }

                    p {
                        margin: 0;
                    }
                }

                .availability {
                    flex-basis: 20%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    color: white;
                }
            }
        }

        .col-advertisement {

            text-align: end;
        }


        .col-talent {

            margin: 10px 0;

            p {
                margin: 5px 0;
                font-weight: bold;
            }

            address {
                color: $blue;
            }



        }

        .col-specs {
            .series {
                margin: 10px 0;
            }
        }

    }


}